/* Rinvoq Brand Typography
 * Source: rinvoq.com — Linotype/Monotype licensed web fonts
 * Families: Neue Haas Grotesk Display (headings), Helvetica Neue LT (body)
 */

@font-face {
  font-family: 'Neue Haas Grotesk Disp';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/neue-haas-grotesk-display.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/helvetica-neue-roman.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/helvetica-neue-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/helvetica-neue-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue LT';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/helvetica-neue-heavy.woff2') format('woff2');
}
